#
# Complete list of build environments
#
# IntegrationTest6 ST06 Git ADEBS04 SysST06
System_Test6 ST06 PVCS ADEBS04 SysST06
# IntegrationTest5 ST05 Git ADEBS04 SysST05
System_Test5 ST05 PVCS ADEBS04 SysST05
# IntegrationTest4 ST04 Git ADEBS04 SysST04
System_Test4 ST04 PVCS ADEBS04 SysST04
# IntegrationTest3 ST03 Git ADEBS04 SysST03
System_Test3 ST03 PVCS ADEBS04 SysST03
IntegrationTest2 ST02 Git ADEBS04 SysST02
# System_Test2 ST02 PVCS ADEBS04 SysST02
# IntegrationTest1 ST01 Git ADEBS04 SysST01
System_Test1 ST01 PVCS ADEBS04 SysST01
# IntegrationTest ST00 Git ADEBS04 SysST00
System_Test ST00 PVCS ADEBS04 SysST00
# AcceptanceTest UT00 Git ADEBS02 SysUT00
User_Test UT00 PVCS ADEBS02 SysUT00
# PreProduction PR00 Git ADEBS02 SysPR00
Pre_Production PR00 PVCS ADEBS02 SysPR00
