<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title>Angular Handling Events</title>
    <meta charset="utf-8" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/Script.js"></script>
    <link href="Styles.css" rel="stylesheet" />
</head>
<style>
p {
    text-indent: 50px;
    color: blue;
}
</style>
<body>
    <p><u>Angular Handling Events examples appear below this line</u>.</p>
    <!--div = division-->
    <div ng-controller="myController">
        <input type="text" ng-model="greeting" />
        <br /><br />
        {{ message }}
        <br /><br />
        {{ greeting }}
        <br /><br />
        <table>
            <tr>
                <td>First Name</td>
                <td>
                    <input type="text" ng-model="employee.firstName" />
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" ng-model="employee.lastName" />
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <input type="text" ng-model="employee.gender" />
                </td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <td>First Name</td>
                <td>
                    {{ employee.firstName }}
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    {{ employee.lastName }}
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    {{ employee.gender }}
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.salary}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <ul>
            <li ng-repeat="country in countries">
                {{ country.name }} - Index = {{$index}}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{ city.name }} - Parent Index = {{$parent.$index}}, Index = {{$index}}
                    </li>
                </ul>
            </li>
        </ul>
        <br />
        <u>Unordered List</u>
        <ul>
            <li ng-repeat="country in countries" ng-init="parentIndex=$index">
                {{ country.name }} - Index = {{$index}}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{ city.name }} - Parent Index = {{parentIndex}}, Index = {{$index}}
                    </li>
                </ul>
            </li>
        </ul>
        <u>Ordered List</u>
        <ol>
            <li ng-repeat="country in countries" ng-init="parentIndex=$index">
                {{ country.name }} - Index = {{$index}}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{ city.name }} - Parent Index = {{parentIndex}}, Index = {{$index}}
                    </li>
                </ul>
            </li>
        </ol>
        <br />
        <u>Handling Events</u>
        <br />
        <br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Like/Dislike</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in technologies">
                    <td>{{technology.name}}</td>
                    <td>{{technology.likes}}</td>
                    <td>{{technology.dislikes}}</td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(technology)" >
                        <input type="button" value="Dislike" ng-click="incrementDislikes(technology)" >
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <p>JavaScript can show hidden HTML elements.</p>

    <p id="demo" style="display:none">Hello JavaScript!</p>

    <!--
    <button type="button" onclick="document.getElementById('demo').style.display='block'">Click Me!</button>
    -->

    <button type="button" onclick="myFunction();">Click Me!</button>

    <script>
    function myFunction() {
        var currentButtonState = document.getElementById('demo').style.display ;
        if ( currentButtonState === "block" ) {
            document.getElementById('demo').style.display='none' ;
        }
        else {
            document.getElementById('demo').style.display='block' ;
            document.getElementById('demo').innerHTML='<b>JavaScript is a pain!</b>'
            // document.getElementById('demo').nodeValue='<b>JavaScript is a pain!</b>'
             + " Node Name=" + document.getElementById('demo').nodeName ;
        }
    }
    </script>


</body>
</html>
