<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestAppConfigTransform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AppSettingsKey1" value="AppSettingsValue1"/>
    <add key="AppSettingsKey2" value="AppSettingsValue2"/>
  </appSettings>
  <userSettings>
    <TestAppConfigTransform.Properties.Settings>
      <setting name="ApplicationSettingsKey1" serializeAs="String">
        <value>ApplicationSettingsValue1</value>
      </setting>
      <setting name="ApplicationSettingsKey2" serializeAs="String">
        <value>ApplicationSettingsValue2</value>
      </setting>
    </TestAppConfigTransform.Properties.Settings>
  </userSettings>
</configuration>